body {
   font-family: 'quicksand', sans-serif;
   margin: 0;
}

ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px 60px;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   box-sizing: border-box;
}

header ul a {
   text-decoration: none;
   color: rgb(255, 255, 0);
   font-size: 20px;
   padding: 12px;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
   border-radius: 6px;
}

header ul a:hover {
   color: rgb(77, 77, 77);
   background-color: rgb(255, 255, 0);
}

#page-logo a {
   font-family: 'Oleo script', sans-serif;
   padding: 10px;
   color: rgb(245, 243, 43);
   font-size: 50px;
   text-transform: uppercase;
   text-shadow: 1px 1px 2px rgb(0, 0, 0);
   text-decoration: none;
}

header ul {
   display: flex;
}

header li {
   margin-left: 20px;
}