body {
   font-family: 'quicksand', sans-serif;
   margin: 0;
}

ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

ul a {
   text-decoration: none;
}

#page-logo a {
   font-family: 'Oleo script', sans-serif;
   padding: 10px;
   color: rgb(245, 243, 43);
   font-size: 50px;
   text-transform: uppercase;
   text-shadow: 1px 1px 2px rgb(0, 0, 0);
   text-decoration: none;
}